body {
    background-color: #f9f9f9;

}
body>div#cotainer {
    margin: auto;
    width: 50%;
}
form , input{
    color: #705252;
}

input, select {
    margin-bottom: 10px;
}

select {
    min-width: 125pt;
    padding: 2pt;
}
h2 {
    color: darkseagreen;
}
.err {
    color: red;

}

.success {
    color: #04bc14;
}